{
    auto_https off
}

:80 {
    root * /var/www/html

    encode gzip

    # Serve static files first
    file_server

    # Pass PHP to FPM
    php_fastcgi 127.0.0.1:9000 {
        env HTTPS on
    }
}
